html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex: 1;
}
.searchBox{
    flex: 1;
}
.infoBox{
    flex: 1;
    background-color: aqua;
}
.city-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.city-btn {
  min-width: 200px;
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  border: none;
}

.city-name {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.city-container:hover .city-name {
  background-color: black; /* Darker on hover */
}
.selected-date{
  display: flex;
  justify-content: center;
}
.popularCitiesGrid .row {
  display: flex;
  flex-wrap: wrap;
}
.selected-date-times {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows */
  gap: 10px; /* Adjust the gap between grid items as needed */
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-btn {
  width: 100%; /* Make the button take up the full width of its container */
  height: 100%; /* Make the button take up the full height of its container */
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-weather {
  display: none; /* Initially hidden */
  align-items: center;
  padding: 10px;
  background-color: #867171;
}
.weather-info{
  display: flex;
  flex-direction: column; 
}
.forecast-weather{
  display: none;
}
.weather-icon-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows with equal height */
  gap: 10px; /* Space between grid items */
  padding: 20px;
  margin-right: 10%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
}

.weather-icon-box > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid black; /* Border around each box */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
}
.weather-container{
  display: flex;
}
.city-title-container{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
}
.future-date {
  display: flex;
  flex-direction: row; /* Arrange the buttons in a row */
  height: 100%; /* Make the container take up the full height */
}

.future-date > .day-container {
  flex: 1; /* Make each day-container take up equal space */
  display: flex; /* Use Flexbox to center the button */
}

.day-btn {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  border: black 1px solid;
  height: 100%; /* Make the button take up the full height of its container */
}
.day-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
@media (min-width: 768px) {
  .city-container {
    flex: 0 0 48%; /* Two columns */
    max-width: 48%;
  }
}
.single-column .city-container {
  flex: 0 0 100%; /* Single column */
  max-width: 100%;
}
.single-column{
  flex: 0.25;
}